In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("C:/Users/HP/Downloads/customer_shopping_behavior.csv")
df.head()

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

In [3]:
df.shape

(3900, 18)

In [4]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [5]:
df['Review Rating'] = df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [6]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

In [7]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
df = df.rename(columns = {'purchase_amount_(usd)':'purchase_amount'})

In [8]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [9]:
#Create a column for age group

labels  = ['Young Adult', 'Adult', 'Middle Age', 'Senior']
df['age_group'] = pd.qcut(df['age'], q=4, labels = labels)

In [10]:
df[['age', 'age_group']].head(10)

   age    age_group
0   55   Middle Age
1   19  Young Adult
2   50   Middle Age
3   21  Young Adult
4   45   Middle Age
5   46   Middle Age
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57   Middle Age

In [11]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle Age
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young Adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle Age
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle Age

In [12]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [13]:
#create a column for purchase frequency

frequency_mapping = {
    'Fortnightly' : 14,
    'Weekly' : 7,
    'Annually' : 365,
    'Quarterly' : 90,
    'Bi-Weekly' : 14,
    'Monthly' : 30,
    'Every 3 Months' : 90
}

df['purchase_frequency_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [14]:
df[['purchase_frequency_days', 'frequency_of_purchases']].head()

   purchase_frequency_days frequency_of_purchases
0                       14            Fortnightly
1                       14            Fortnightly
2                        7                 Weekly
3                        7                 Weekly
4                      365               Annually

In [15]:
df[['discount_applied', 'promo_code_used']].head()

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [16]:
(df['discount_applied'] == df['promo_code_used']).all

<bound method Series.all of 0       True
1       True
2       True
3       True
4       True
        ...
3895    True
3896    True
3897    True
3898    True
3899    True
Length: 3900, dtype: bool>

In [17]:
df = df.drop('promo_code_used', axis = 1)

In [18]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [20]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (8.0.21)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (from mysql-connector-python) (6.31.1)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [28]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import mysql.connector

host = "localhost"
port = "3306"
username = "root"
password = "omopariola"
database = "customer_behaviour"


from sqlalchemy import create_engine

engine = create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}:{port}/{database}")

#df = pd.read_sql("SHOW TABLES;", engine)
#print(df)

table_name = "customer"
df.to_sql(table_name, engine, if_exists = "replace", index = False)

print(f"data successfully loaded into table '{table_name}' in database '{database}'.")

data successfully loaded into table 'customer' in database 'customer_behaviour'.

In [19]:

host = "localhost"
port = "5432"
username = "postgres"
password = "omopariola"
database = "customer_behaviour"


from sqlalchemy import create_engine

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#df = pd.read_sql("SHOW TABLES;", engine)
#print(df)

table_name = "customer"
df.to_sql(table_name, engine, if_exists = "replace", index = False)

print(f"data successfully loaded into table '{table_name}' in database '{database}'.")

data successfully loaded into table 'customer' in database 'customer_behaviour'.

In [1]:
pip install psycopg2-binary sqlalchemy

Collecting psycopg2-binaryNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.2 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl.metadata (5.1 kB)
Requirement already satisfied: sqlalchemy in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (2.0.28)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\hp\documents\wpy64-31241\python-3.12.4.amd64\lib\site-packages (from sqlalchemy) (3.0.3)
Downloading psycopg2_binary-2.9.11-cp312-cp312-win_amd64.whl (2.7 MB)
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   --- ------------------------------------ 0.3/2.7 MB ? eta -:--:--
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ------- -------------------------------- 0.5/2.7 MB 120.7 kB/s eta 0:00:19
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   ----------- ---------------------------- 0.8/2.7 MB 138.6 kB/s eta 0:00:14
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   --------------- ------------------------ 1.0/2.7 MB 156.3 kB/s eta 0:00:11
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ------------------- -------------------- 1.3/2.7 MB 145.9 kB/s eta 0:00:10
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   ----------------------- ---------------- 1.6/2.7 MB 139.6 kB/s eta 0:00:09
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   --------------------------- ------------ 1.8/2.7 MB 128.1 kB/s eta 0:00:07
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ------------------------------ --------- 2.1/2.7 MB 132.3 kB/s eta 0:00:05
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   ---------------------------------- ----- 2.4/2.7 MB 136.1 kB/s eta 0:00:03
   -------------------------------------- - 2.6/2.7 MB 139.2 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 139.2 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 139.2 kB/s eta 0:00:01
   -------------------------------------- - 2.6/2.7 MB 139.2 kB/s eta 0:00:01
   ---------------------------------------- 2.7/2.7 MB 138.0 kB/s  0:00:18
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.11